.modern-link {
    position: relative;
    padding-bottom: 3px;
    transition: color 0.3s ease;
}

.modern-link:hover {
    color: #0d6efd !important;
}

.modern-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: #0d6efd;
    transition: width 0.3s ease;
}

.modern-link:hover::after {
    width: 100%;
}
